<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include("./header", {user: user}) %>
    <main>
        <a class="buttons" href="/create">Post a message</a>
        <section class="message-board">
            <h2>Message Board</h2>
            <div class="messages">
                <% messages.map((msg) => { %>
                    <div class="message">
                        <% if (locals.user && (user.email === msg.email || user.admin === "1")) { %>
                            <a class="buttons msg-btn" href="/edit?msgId=<%= msg.id %>">Edit</a>
                            <a class="buttons msg-btn" href="/edit/delete?msgId=<%= msg.id %>">Delete</a>
                        <% } %>
                        <% if (locals.user && user.status === 'member') {%>
                            <div><strong>Name:</strong> <%= msg.fname %>  <%= msg.lname %></div>
                            <div><strong>Email:</strong> <%= msg.email %></div>
                        <% } else { %>
                            <div><strong></strong></div>
                            <% } %>
                         <div><strong><%= msg.status %></strong></div>
                        <div><strong><%= msg.date %></strong></div>
                        <p><%= msg.message %></p>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>
</body>
</html>